<footer>
    <ul>
        <li>관리자에게 문의</li>
        <li><a href="https://github.com/JTT-COMPANY/Moomyung" target="_blank">Moomyung Project GitHub</a></li>
    </ul>
    <p>Copyright 2023. JTT Company all right reserved.</p>
</footer>