<header>
    <h1><img src="/public/img/logo.png" alt="무명일기"></h1>
    <div class="headerLink">
        <button type="button" id="noticeHeader"><img src="public/img/notice.png" alt=""></button>
        <a class="home" href="/main">홈으로</a>
        <a id="logout" href="/intro">로그아웃</a>
    </div>
</header>