<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무명일기</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="mainLeft"></div>
        <div class="mainRight">
            <h1 class="a11y-hidden">무명일기</h1>
            <p>아무에게도 나눌 수 없는 이야기들,</p>
            <p>먼 우주로 날려보내세요.</p>
            <img src="public/img/moomyeung_logo.png" alt="무명">
            <input type="text" placeholder="아이디">
            <input type="password" placeholder="비밀번호">
            <label><input type="checkbox">로그인 상태 유지</label>
            <button type="button">로그인</button>
            <a href="#">회원가입</a>
            <a href="#">아이디・비밀번호 찾기</a>
            <ul>
                <li><button type="button">카카오 계정으로 로그인</button></li>
                <li><button type="button">네이버 계정으로 로그인</button></li>
                <li><button type="button">구글 계정으로 로그인</button></li>
            </ul>
        </div>
    </div>
</body>

</html>