<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="아무에게도 나눌 수 없는 이야기들, 먼 우주로 날려보내세요.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="무명일기">
  <meta property="og:description" content="아무에게도 나눌 수 없는 이야기들, 먼 우주로 날려보내세요.">
  <meta property="og:image" content=""><!-- todo 이미지 추가 -->
  <meta property="og:url" content=""><!-- todo 도메인 추가 -->
  <title>무명</title>
  <link rel="stylesheet" href="public/css/main.css">
  <link rel="stylesheet" href="public/css/commonStyles.css">
  <script src="https://kit.fontawesome.com/f495bea5f2.js" crossorigin="anonymous"></script>
  <script defer src="public/js/main.js"></script>
</head>

<body>
  <header>
    <a href="/main">
      <p>無<span>무</span></p>
      <p><span>명</span>名</p>
    </a>
    <nav>
      <ul>
        <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
        <li><a href="/mypage">마이페이지</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <article>
        <div>
          <h2>title: 오늘의 일기1</h2>
          <div class="contents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="userBtns">
            <ul>
              <li class="doCheer"><i class="fa-solid fa-heart"></i></li>
              <li class="comment"><i class="fa-solid fa-pencil"></i></li>
            </ul>
          </div>
        </div>
      </article>

      <article>
        <div>
          <h2>title: 오늘의 일기2</h2>
          <div class="contents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="userBtns">
            <ul>
              <li class="doCheer"><i class="fa-solid fa-heart"></i></li>
              <li class="comment"><i class="fa-solid fa-pencil"></i></li>
            </ul>
          </div>
        </div>
      </article>
      
      <article>
        <div>
          <h2>title: 오늘의 일기3</h2>
          <div class="contents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="userBtns">
            <ul>
              <li class="doCheer"><i class="fa-solid fa-heart"></i></li>
              <li class="comment"><i class="fa-solid fa-pencil"></i></li>
            </ul>
          </div>
        </div>
      </article>
    </section>
    <button id="goNext"><i class="fa-solid fa-share"></i></button>
  </main>
  <footer>Contact : email@email.com</footer>
</body>

</html>