<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- todo 메타태그 추가 -->
  <title>무명</title>
  <link rel="stylesheet" href="public/css/main.css">
  <script src="https://kit.fontawesome.com/f495bea5f2.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <a href="#">
      <p>無<span>무</span></p><p><span>명</span>名</p>
    </a>
    <nav>
      <ul>
        <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
        <li><a href="#">마이 페이지</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <article class="diaryContents"><%= diaryList[0].title %></article><!-- todo 임의로 넣음 다음에 수정해주세요(희영) -->
      <article class="diaryContents">내용2</article>
      <article class="diaryContents">내용3</article>
    </section>
    <button><i class="fa-solid fa-share"></i></button>
  </main>
  <footer>Contact : email@email.com</footer>
</body>

</html>