<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="아무에게도 나눌 수 없는 이야기들, 먼 우주로 날려보내세요.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="무명일기">
    <meta property="og:description" content="아무에게도 나눌 수 없는 이야기들, 먼 우주로 날려보내세요.">
    <meta property="og:image" content=""><!-- todo 이미지 추가 -->
    <meta property="og:url" content=""><!-- todo 도메인 추가 -->
    <title>마이페이지 | 무명</title>
    <link rel="stylesheet" href="public/css/mypage.css">
    <script src="https://kit.fontawesome.com/f495bea5f2.js" crossorigin="anonymous"></script>
    <script defer src="public/js/mypage.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1><img src="../public/img/moomyeung_logo.png" alt="무명"></h1>
            <a class="home" href="/main">홈으로</a>
            <a class="logout" href="/intro">로그아웃</a>
        </header>
        <main class="mypageBox">
            <div class="myInfo">
                <h2>내 정보</h2>
                <p>닉네임 : ㅇㅇㅇ</p>
                보유 공감⭐️ : <span id="haveStar">28</span>
            </div>
            <div class="myComent">
                <h2>내가 쓴 댓글</h2>

                <ul>
                    <li>
                        <p>오늘도 날씨가 너무 덥습니다!!</p>
                    </li>
                    <li>
                        <p>우리는 모두 대!!!!!!개발자가 될거에요.</p>
                    </li>
                    <li>
                        <p>익명일기 생겨서 너무좋아요</p>
                    </li>
                </ul>
            </div>
            <div class="myCheer">
                <h2>내가 공감한 글</h2>

                <ul>
                    <li>
                        <p>오늘도 날씨가 너무 덥습니다!!</p>
                    </li>
                    <li>
                        <p>우리는 모두 대!!!!!!개발자가 될거에요.</p>
                    </li>
                    <li>
                        <p>익명일기 생겨서 너무좋아요</p>
                    </li>
                </ul>
            </div>
            <div class="myNotice">
                <h2>공지사항 및 알림</h2>
                <ul>
                    <li>
                        <p>오늘 오후 9시 회의</p>
                    </li>
                    <li>
                        <p>마실 것 챙겨서 참석하기</p>
                    </li>
                    <li>
                        <p>28명이 ooo님의 글에 공감했어요!</p>
                    </li>
                </ul>
            </div>
            <button type="button" class="setting">
                <h2 class="setText">settings</h2>
            </button>
            <div class="myDiary">
                <h2>내가 쓴 일기</h2>

                <ul class="diaryList">
                    <li>
                        <a href="#">
                            <article>
                                <h3>제목 : 아리는 편식쟁이</h3>
                                <p>아리한테 고기 간식을 많이 먹였어요. 그래서 아리가 편식을 시작했습니다. 이제 아리는 사과를 먹지 않아요...</p>
                            </article>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <article>
                                <h3>제목 : 아리는 똥쟁이</h3>
                                <p>아리는 똥을 배편패드에 쌀 줄 모릅니다. 아무곳에나 변을 흘리고 다니는데요.... 문제는 한 곳에 흘리는게 아니라 돌아다니면서 흘립니다^^... 그리고
                                    가끔은 동구녕에 달고다녀요ㅎ</p>
                            </article>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <article>
                                <h3>제목 : 아리는 영악해</h3>
                                <p>배편패드에 오줌을 잘 싸게 만드려고 배변패드에 오줌을 쌀 때마다 간식을 줬습니다. 그런데!!! 영악한 아리는.. 사람이 볼 때만 배변패드에 오줌을 싸는
                                    강아지가 되었어요..^^ 그리고 간식달라고 찾아온답니다... 영악한 자식...</p>
                            </article>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <article>
                                <h3>제목 : 아리는 영악해</h3>
                                <p>배편패드에 오줌을 잘 싸게 만드려고 배변패드에 오줌을 쌀 때마다 간식을 줬습니다. 그런데!!! 영악한 아리는.. 사람이 볼 때만 배변패드에 오줌을 싸는
                                    강아지가 되었어요..^^ 그리고
                                    간식달라고 찾아온답니다... 영악한 자식...</p>
                            </article>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <article>
                                <h3>제목 : 아리는 영악해</h3>
                                <p>배편패드에 오줌을 잘 싸게 만드려고 배변패드에 오줌을 쌀 때마다 간식을 줬습니다. 그런데!!! 영악한 아리는.. 사람이 볼 때만 배변패드에 오줌을 싸는
                                    강아지가 되었어요..^^ 그리고
                                    간식달라고 찾아온답니다... 영악한 자식...</p>
                            </article>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <article>
                                <h3>제목 : 아리는 영악해</h3>
                                <p>배편패드에 오줌을 잘 싸게 만드려고 배변패드에 오줌을 쌀 때마다 간식을 줬습니다. 그런데!!! 영악한 아리는.. 사람이 볼 때만 배변패드에 오줌을 싸는
                                    강아지가 되었어요..^^ 그리고
                                    간식달라고 찾아온답니다... 영악한 자식...</p>
                            </article>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
        <footer>contact</footer>
    </div>

</body>

</html>