<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="아무에게도 나눌 수 없는 이야기들, 먼 우주로 날려보내세요.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="무명일기">
  <meta property="og:description" content="아무에게도 나눌 수 없는 이야기들, 먼 우주로 날려보내세요.">
  <meta property="og:image" content=""><!-- todo 이미지 추가 -->
  <meta property="og:url" content=""><!-- todo 도메인 추가 -->
  <title>무명 - 마이페이지</title>
  <link rel="stylesheet" href="public/css/mypage.css">
  <link rel="stylesheet" href="public/css/commonStyles.css">
  <script src="https://kit.fontawesome.com/f495bea5f2.js" crossorigin="anonymous"></script>
  <script defer src="public/js/mypage.js"></script>
</head>

<body>
  <header>
    <a href="/main">
      <p>無<span>무</span></p>
      <p><span>명</span>名</p>
    </a>
    <nav>
      <ul>
        <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
        <li><a href="/main">홈으로</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <div>
        <h2>내 정보</h2>
        <p>닉네임 : <span>찌으니</span></p>
        <p>가입일 : <span>2023년 7월 31일</span></p>
        <p>내 위로별 : <span>★★☆☆☆</span></p>
      </div>
      <div>
        <h2>내가 남긴 위로</h2>
        <p>댓글1</p>
      </div>
      <div>
        <h2>내가 공감한 별</h2>
        <p>별1</p>
      </div>
    </section>

    <section>
      <div>
        <h2>내가 보낸 별</h2>
        <p>글1</p>
      </div>
      <div class="menuBtn">
        <div>버튼1</div>
        <div>버튼2</div>
        <div>버튼3</div>
        <div>버튼4</div>
      </div>
    </section>
  </main>

  <footer>Contact : email@email.com</footer>
</body>

</html>