@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul,
ol,
li {
	list-style-type: none;
}

body {
	background-color: #1e2026;
	font-family: 'Pretendard-Regular', system-ui, Roboto, sans-serif;
	font-size: 1.5rem;
}

header,
footer {
	color: #f9f9f9;
}

button {
	border: none;
	cursor: pointer;
	background: none;
}