/* reset */
body,
h1,
h2,
h3,
p,
ul,
li,
article {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	cursor: pointer;
}

.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

/* css 시작 */
body {
	background-color: #1E2026;
	color: #fff;
}

.wrapper {
	max-width: 1440px;
	margin: auto;
}

header {
	/* width: 100vw; */
	max-width: 1440px;
	height: 100px;
	position: relative;
	margin: 3rem 0 5rem;
}

header img {
	width: 7rem;
	display: block;
	margin: auto;
}

header>a {
	position: absolute;
	top: 5vh;
	z-index: 10;
}

header>a:hover {
	font-weight: bold;
}

.logout {
	right: 3rem;
}

.home {
	right: 7.3rem;
	border-right: 1px solid #fff;
	padding-right: 1rem;
}



/*   main   */
.mypageBox {
	max-width: 1440px;
	margin: auto;
	display: grid;
	gap: 1rem;
	font-size: 0.8rem;
	padding: 0 2rem;
	color: #eee;
}

.mypageBox p {
	font-size: 0.9rem;
	color: #bbb;
}

.mypageBox p:hover {
	color: #eee;
}

.mypageBox div {
	border: 2px solid #bbb;
	border-radius: 0.3rem;
	padding: 1rem;
}

.mypageBox h2 {
	padding-bottom: 0.5rem;
}


/* 공통 */
.myInfo p,
.myComent p,
.myCheer p,
.myNotice p {
	line-height: 1.3rem;
}

/* 내 정보 */
.myInfo {
	grid-area: 1/1/2/5;
}

/* 내가 쓴 댓글 */
.myComent {
	grid-area: 2/1/3/5;
}

/* 내가 공감한 글 */
.myCheer {
	grid-area: 2/5/3/10;
}

/* 공지사항 및 알림 */
.myNotice {
	grid-area: 1/5/2/9;
}

/* 설정 */
.setting {
	grid-area: 1/9/2/10;
	background-color: #bbb;
	color: #1E2026;
	background: url(../img/icon_setting.svg) no-repeat 50% 25% / 3rem #eee;
	position: relative;
	font-size: 0.7rem;
	border-radius: 0.3rem;
}


.setting .setText {
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, 0);
}

.setting:hover {
	background-color: #ffecb0;
}


/* 내가 쓴 일기 */
.myDiary {
	grid-area: 3/1/4/10;
}

.myDiary .diaryList li {
	background-color: #eee;
	border-radius: 0.3rem;
	color: #1E2026;
	padding: 1rem;
	margin-bottom: 1rem;
}

.myDiary .diaryList li:hover {
	background-color: #ffecb0;
}

.myDiary .diaryList li h3 {
	margin-bottom: 0.3rem;
}

.myDiary .diaryList li p {
	color: #1E2026;
}

footer {
	padding: 3rem;
	text-align: center;
	color: #eee;
}



/* 모바일 */


@media screen and (max-width: 768px) {
	header {
		margin-bottom: 10rem;
	}

	header>a {
		position: absolute;
		top: 0.5vh;
		z-index: 10;
	}

	header img {
		width: 7rem;
		display: block;
		margin: auto;
		padding: 4rem;
	}

	.mypageBox {
		max-width: 768px;
		margin-top: 2rem;
		gap: 1rem;
		font-size: 0.8rem;
		padding: 0 2rem;
		color: #eee;
	}

	.mypageBox div {
		border: 2px solid #bbb;
		border-radius: 0.3rem;
		padding: 1rem;
	}

	.myInfo {
		grid-area: 2/1/3/10;

	}

	.myComent {
		grid-area: 3/1/4/10;
	}

	.myCheer {
		grid-area: 4/1/5/10;
	}

	.myNotice {
		grid-area: 1/1/2/8;

	}

	.myDiary {
		grid-area: 5/1/6/10;
	}

	.setting {
		grid-area: 1/8/2/10;
		font-size: 0.6rem;
	}
}