:root {
	--main-color: #f9f9f9;
}

body {}

.wrapper {
	margin: 0 auto;
}

.mypage {
	max-width: 1440px;
	padding: 2.3rem 3rem 0;
	margin: 0 auto;
}

.mypage h2 {
	color: var(--main-color, white);
	margin-bottom: 1.6rem;
}

.mypageMainBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1.6rem;
}

.mypageMainLeft>div {
	width: 41rem;
	height: 12.6rem;
	border-radius: 0.5rem;
	border: 2px solid #F9F9F9;
	color: var(--main-color, white);
	margin-bottom: 1.6rem;
}

.mypageMainLeft {
	color: var(--main-color, white);
}


.mypageMainRight {
	width: 95.4rem;
	height: 69.4rem;
	background-color: var(--main-color, white);

}