header a p {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2rem;
}

header a p:last-child {
  margin-left: 1.5rem;
}

header a p span {
  font-size: 1rem;
  font-weight: 500;
}

nav ul {
  display: flex;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

nav ul li {
  padding: 0 10px;
}

nav ul li:nth-child(2) {
  border-right: 1px solid #eee;
}

main {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section {
  margin: 4vh 10px 20px;
  border: 1px solid #fff;
  width: max(400px, 40%);
  height: max(700px, 50%);
  min-height: 400px;
  display: flex;
  flex-flow: column wrap;
  color: #000;
  gap: 20px;
}

section:first-child > div {
  width: calc(100% - 40px);
  height: calc(30% - 40px);
  background-color: #eee;
  border-radius: 10px;
}

section:last-child > div {
  width: calc(100% - 40px);
  height: calc(60% - 40px);
  background-color: #eee;
  border-radius: 10px;
}

section > div {
  padding: 20px;
}

section div.menuBtn {
  height: calc(30% - 40px);
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menuBtn > div {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #eee;
  border-radius: 10px;
}